<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|striptags} | {/ifset}Nette Sandbox</title>

	{control htmlHead}




	{block head}{/block}
</head>

<body>

	{block header}{/block}

	<div class="container">

		<div class="topfix" data-topfix-offset="20">
			<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">{$flash->message}</div>
		</div>

		{include moduleLayout}
	</div>



	{block scripts}

	{/block}
</body>
</html>
