log/*
temp/*
vendor/*
!vendor/others

node_modules/*
www/components/*

www/style/app.min.css
www/style/main.css
www/js/app.min.js
.tmp/

composer.lock

.DS_Store
.idea/
!.gitignore
!.htaccess
!web.config
app/config/config.local.neon
vendor/autoload.php
