#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
parameters:
	development: false
	version: 1 # increase this number, if new release is pushed

php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	- App\Model\Managers\UserManager

	- App\Model\Repositories\UserRepository

	- App\Forms\ISignInFormFactory
	- App\Forms\ISignUpFormFactory
	- App\Forms\ISendPasswordFormFactory

	router: App\RouterFactory::createRouter
