#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
parameters:
	development: false
	version: 1 # increase this number, if new release is pushed
	appUniqueHash: "jHrC5j8V3HDTDx86+#&H109" # Change this hash for your app, 22 chars at least!

php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days

nette:
	debugger:
		bar:
			- JanDrabek\MailPanel\MailPanel

services:
	nette.mailer: JanDrabek\MailPanel\SessionMailer

	- App\Model\Managers\UserManager

	- App\Model\Repositories\UserRepository

	- App\Forms\ISignInFormFactory
	- App\Forms\ISignUpFormFactory
	- App\Forms\ISendPasswordFormFactory

	router: App\RouterFactory::createRouter
