{block content}

<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<h2 n:block="title" class="text-center">Log In</h2>
		{control signInForm}
		<hr/>
		<p class="text-center">
			<a n:href="Sign:up">Register</a>
		</p>
	</div>
</div>