{block content}

<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<h2 n:block="title" class="text-center">Log In</h2>
		{include '../../../forms/templates/SignInForm.latte', form => signInForm}
		<hr/>
		<p>
			<a n:href="Sign:up">Register</a>
		</p>
	</div>
</div>